{%- comment -%}
  Education / Experience / Awards. Each block is rendered twice (en + zh); global.css
  hides the inactive language.
{%- endcomment -%}
<div class="row mt-4">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row">
                    {% if site.data.profile.education %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h5>{% include i18n.html key="education" %}</h5>
                            <div class="lang-en">{% include widgets/timeline_list.html items=site.data.profile.education %}</div>
                            <div class="lang-zh">{% include widgets/timeline_list.html items=site.data.profile.education_zh %}</div>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1 mt-4 mt-lg-1">
                            <h5>{% include i18n.html key="experience" %}</h5>
                            <div class="lang-en">{% include widgets/timeline_list.html items=site.data.profile.experience %}</div>
                            <div class="lang-zh">{% include widgets/timeline_list.html items=site.data.profile.experience_zh %}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                {% if site.data.profile.awards %}
                <div class="row">
                    <div class="col-12">
                        <div class="mx-2 my-1 mt-4">
                            <h5>{% include i18n.html key="honors_awards" %}</h5>
                            <div class="lang-en">{% include widgets/award_list.html items=site.data.profile.awards %}</div>
                            <div class="lang-zh">{% include widgets/award_list.html items=site.data.profile.awards_zh %}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
