{% assign publications = include.publications %}
<div class="my-4 p-0 bg-white rounded-xl" style="border: 1px solid #f0f0f0;">
    <h5 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-star"></i> {% include i18n.html key="selected_publications" %}
        <a class="small font-weight-normal" href="{{ 'publications' | relative_url }}">{% include i18n.html key="view_all" %} <i class="fas fa-angle-double-right"></i></a>
    </h5>
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=false last=false %}
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right font-weight-normal">
        <a href="{{ 'publications' | relative_url }}">{% include i18n.html key="all_publications" %} <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>
